{{ define "contents" }}
<div class="row">
  <div class="col-md-12">
    <h2>
      Meetings
      <div class="pull-right">
        <a href="/meetings/new" class="btn btn-primary">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Register meeting
        </a>
      </div>
    </h2>
  </div>
</div>
<p class="lead">Mayo 2015</p>
<ul class="list-group">
  {{ range . }}
  <li class="list-group-item">
      <a href="/meetings/{{ .GetId.Hex }}/edit">{{ .Title }}</a>
      <a href="/meetings/{{ .GetId.Hex }}/delete" class="pull-right"><span class="glyphicon glyphicon-trash" aria-hidden="true"></a>
      <br><time datetime="{{ .Date }}">{{ .Date.Format "Jan 02, 2006" }}</time>
  </li>
  {{ end }}             
</ul>
{{ end }}

{{ define "js"}}
{{ end }}